{% extends 'index.html' %}

{% block content %}
    <div class="container">
        {% include 'flash.html' %}

        <div class="row">
            <div class="col-12 col-md-6 mx-md-auto">
            <h2>Sign Up</h2>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                        
                <div class="mb-3">
                        <label for="username">{{ form.username.label }}</label>
                        {{ form.username(class='form-control', id='username') }}
                        {% for error in form.username.errors %}
                            <small class="text-danger"> {{ error }}</small>
                        {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email(class='form-control', id='email') }}
                    {% for error in form.email.errors %}
                        <small class="text-danger"> {{ error }}</small>
                    {% endfor %}
            </div>

                <div class="mb-3">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password(class='form-control', id='password') }}
                    {% for error in form.password.errors %}
                        <small class="text-danger"> {{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="password2">{{ form.password2.label }}</label>
                    {{ form.password2(class='form-control', id='password2') }}
                    {% for error in form.password2.errors %}
                        <small class="text-danger"> {{ error }}</small>
                    {% endfor %}
                </div>

                <div class="input-group">
                    {{form.submit(class='btn btn-success')}}
                </div>
            </form>

        </div>
        </div>
    </div> <!--/container-->
{% endblock %}