{% extends 'index.html' %}

{% block content %}
    <div class="container px-0 px-md-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% include 'flash.html' %}

                    <div id="content" class="content p-0">
                        <div class="profile-header gray-card-background">
                            <div class="profile-header-cover gray-card-background"></div>
                            <div class="profile-header-content row">
                                <div class="profile-header-img col-3">
                                    <img src="{{ user.avatar(120) }}" alt="{{ user.username }}'s avatar" />
                                </div>
                                <div class="profile-header-info col-9">
                                    <h4 class="m-t-sm">/{{user.username}}</h4>
                                    <p class="my-1">{{ user.about_me }}</p>
                                    <div class="my-1">
                                        <span class="fw-bold">Joined </span>{{ moment(user.joined).format('MMM YYYY') }}
                                    </div>
                                    <div class="my-1">
                                        <span class="fw-bold">{{ user.followers.count() }}</span> Followers &nbsp; <span class="fw-bold">{{ user.followed.count() }}</span> Following
                                    </div>
                                    
                                    
                                    {% if user == current_user %}
                                        <a href="{{ url_for('main.edit_profile') }}" class="btn btn-sm btn-primary">Edit Profile</a>
                                    {% elif not current_user.is_following(user) %}
                                        <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                                            {{ form.hidden_tag() }}
                                            {{ form.submit(value='Follow', class='btn btn-primary btn-sm mb-3') }}
                                        </form>
                                    {% else %}
                                        <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                                            {{ form.hidden_tag() }}
                                            {{ form.submit(value='Unfollow', class='btn btn-primary btn-sm mb-3') }}
                                        </form>
                                    {% endif %}                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    {% for post in posts %}
                        {% include '_post.html'   %}
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}