{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h3 class="py-4">Profile</h3>
        <div class="d-flex">
            <div class="img-avatar-container">
                <img src="{{user.avatar(40)}}" alt="{{user.username}}&apos;s avatar" class="img-fluid img-thumbnail rounded-circle">
            </div>
            <h4 class="user-handle">/{{user.username}}</h4>
        </div>
        {{ user.joined }}
        <hr>
            {% for post in posts %}
                {% include '_post.html'   %}
            {% endfor %}
    </div>
{% endblock %}