{% extends 'headers.html' %}

{% block rest_of_content %}
    {# since we do not want this to override the jinja 'content block in the index.html file we call the super method' #}

    <div class="container">
        {% include 'flash.html' %}

        <div class="row">
            <div class="col-12 col-md-6 mx-md-auto">
            <img src="{{url_for('static', filename='images/logo.svg')}}" alt="logo" height="40">
            <h2 class="py-4">Log In</h2>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                        
                <div class="mb-3">
                        <label for="username">{{ form.username.label }}</label>
                        {{ form.username(class='form-control', id='username') }}
                        {% for error in form.username.errors %}
                            <small class="text-danger"> {{ error }}</small>
                        {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password(class='form-control', id='password') }}
                    {% for error in form.password.errors %}
                        <small class="text-danger"> {{ error }}</small>
                    {% endfor %}
                </div>

                <div class="form-check mb-3">
                    {{ form.remember_me(class='form-check-input', id='remember_me') }}
                    <label for="remember_me" class="form-check-label">{{ form.remember_me.label }}</label>
                </div>

                <div class="input-group mb-3">
                    {{form.submit(class='btn btn-primary')}}
                </div>
            </form>

            <p class="my-4">
                Forgot your password? 
                <a href="{{ url_for('auth.reset_password_request') }}">Reset It</a>
            </p>  

            <p>Don&apos;t have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a> here.</p>

        </div>
        </div>
    </div> <!--/container-->
{% endblock %}