{% extends 'headers.html' %}

{% block rest_of_content %}
    <div class="container">
        {% include 'flash.html'  %}

        <div class="row">
            <div class="col-12 col-md-6 mx-md-auto">
                <img src="{{url_for('static', filename='images/logo.svg')}}" alt="logo" height="40">
                <h2 class="py-4"> Request Password</h2>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email(class='form-control', id='username') }}
                        {% for error in form.email.errors %}
                            <small class="text-danger"> {{ error }}</small>
                        {% endfor %}
                    </div>
                
                    <div class="input-group mb-3">
                        {{form.submit(class='btn btn-primary')}}
                    </div>
                </form>
                <p>Back to <a href="{{ url_for('auth.login') }}">Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}